body{
    /* max-width: 80%;
    margin: auto; */
    margin: 0 auto;
    max-width:900px;
    padding:0;
    font-family: 'Lato', sans-serif;
}

h1{
    margin-top:60px;
}
a{
    text-decoration: none;
    color:brown;
}
a:hover{
    color:rgb(192, 157, 3);
}

li{
    line-height: 1.4;
}